@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: #141414;
    margin: 0;
    width: auto; 
    font-family: "Roboto", sans-serif;
    font-style: normal;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

main {
    overflow: hidden;
}

.bi-headphones{
    color: #edecec;
}

.menu{
    margin-left: auto;
}

.menu ul li{
    display: inline;
    color: #ffffff;
    font-weight: 400;
    font-size: 12pt;
    margin-left: 30px;
    padding-bottom: 4px;
}

.menu ul li a{
    color: #edecec;
    font-weight: 400;
    font-size: 12pt;
    text-decoration: none;
}

.menu ul li:hover{
    color: #551981;
    cursor: pointer;
}

#MyAccount{
    border-radius: 50px;
    background: #551981;
    border: 3px solid #551981;
    color: #fff;
}

#MyAccount:hover{
    background: #8125c3;
    color: #fff;
    transition: 300ms;
}

@media (min-width: 769px) {

    header{
        height: 10vh;
        padding-right: 80px;
    }

    .bi-headphones{
        font-size: 22pt;
        margin-left: 33px;
    }

    #MyAccount{
        padding: 12px 22px;
    }

    #main-banner{
        align-items: center;
        justify-content: space-around; 
    }

    #banner-text {
        margin-top: -60px;
    }

    #banner-text h1{
        font-size: 110pt;
    }

    #banner-text h2{
        font-size: 120pt;
    }

    #banner-text p{
        width: 400px;
        font-size: 12pt;
        margin-bottom: 50px;
        margin-left: 34px;
    }

    #banner-text a{
        padding: 15px 25px;
        font-size: 13pt;
        margin-left: 34px;
    }

    #banner-img {
        width: 41%;
        margin-left: -250px;
        margin-top: 18px;
    }

    #rect-color {
        margin-top: 50px;
        margin-left: -80px;
    }

    #offers h1 {
        font-size: 70pt;
        margin-top: 130px;
    }
    
    
    #Products-banner{
        margin-bottom: 200px;
        width: 80%;
    }

    #Products-banner .product{
        width: 300px;
        height: 300px;
        padding-top: 30px;
    }

    #Aboutus-img{
        width: 24%;
    }

    #Aboutus{
        height: 400px;
    }

    #Aboutus-text{
        margin-left: -250px;
        margin-top: -30px;
    }

    #Aboutus-text h1{
        font-size: 42pt;
        margin-bottom: 20px;
    }
    
    #Aboutus-text p{
        font-size: 12pt;
        width: 400px;
        text-align: justify;
    }

    
    #people{
        justify-content: space-around;
        height: 840px;
        padding-top: 35px;
        padding-bottom: 80px;
    }

    #people-text h1{
        font-size: 47pt;
        margin-bottom: 53px;
        margin-top: 20px;
        width: 537px;
    }

    #people-text ul {
        width: 460px;
    }
    
    #people-text ul li{
        font-size: 12pt;
        margin-bottom: 20px;
    }
    
    #people-img {
        width: 40%;
        margin-left: -100px;
    }
    
    #footer-logo{
        padding: 1px 15px;
        margin-left: 20px;
    }
    
    #footer-logo .bi-headphones{
        font-size: 10pt;
    }
    
    .logo-title {
        font-size: 8pt;
        margin-right: 7px;
    }

    #footer-icons {
        margin-right: 70px;
    }
    
    #footer-icons i{
        margin-left: 20px;
        font-size: 15pt;
    }

  }
  
@media (max-width: 768px) {

    header{
        height: 8vh;
        justify-content: center;
        padding-right: 0px;
    }

    .bi-headphones{
        font-size: 20pt;
        margin-left: 20px;
    }

    .menu {
        padding-right: 20px;
    }

    #Home, #Products, #AboutUs, #Contact{
        display: none;
    }

    #MyAccount{
        padding: 6px 12px;
    }

    #main-banner{
        flex-direction: column;
        
    }

    #banner-text h1, #banner-text h2{
        font-size: 50pt;
    }

    #banner-text {
       z-index: 1;
       padding: 0px 40px;
    }

    #banner-text p{
        width: 200px;
        font-size: 6pt;
        margin-top: -50px;
        margin-bottom: 20px;
    }

    #banner-text a{
        padding: 5px 15px;
        font-size: 8pt;
    }

    #banner-img {
        position: absolute;
        z-index: 0;
        width: 200px;
        right: 0px;
        display: none;
    }

    #rect-color {
        margin-top: 50px; 
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }

    #offers h1 {
        font-size: 40pt;
        margin-top: 130px;
    }
    
    
    #Products-banner{
        flex-direction: column;
        margin-bottom: 200px;
        width: 80%;
    }

    .bi-arrow-left-circle {
        display: none;
    }

    .bi-arrow-right-circle {
        display: none;
    }

    #Products-banner .product{
        width: 240px;
        height: 220px;
        margin-top: 60px;
        padding-top: 30px;
    }

    .product-button {
        margin-top: -40px;
    }

    #Aboutus{
        flex-direction: column;
        height: 40%;
    }

    #Aboutus-img{
        width: 70%;
    }

    #Aboutus-text{
        margin-left: 20px;
        margin-top: -30px;
    }

    #Aboutus-text h1{
        font-size: 30pt;
        margin-bottom: 10px;
        text-align: center;
    }
    
    #Aboutus-text p{
        font-size: 9pt;
        width: 250px;
        text-align: center;
    }

    #people{
        flex-direction: column;
        justify-content: space-around;
        height: 40%;
        padding-top: 20px;
    }

    #people-text h1{
        font-size: 19pt;
        width: 224px;
        text-align: center;
    }
    
    #people-text ul {
        width: 220px;
    }
    
    #people-text ul li{
        font-size: 7pt;
        margin-bottom: 10px;
    }

    #people-img {
        width: 60%;
    }
    
    #footer-logo{
        padding: 1px 15px;
    }
    
    #footer-logo .bi-headphones{
        font-size: 8pt;
    }
    
    .logo-title {
        font-size: 8pt;
        margin-right: 7px;
    }

    #footer-icons {
        margin-right: 20px;
    }
    
    #footer-icons i{
        margin-left: 2px;
        font-size: 8pt;
    }

    #rodape p {
        display: none;
    }

  }



#main-banner{
    display: flex;
}

#banner-text h1, #banner-text h2 {
    color: #dad9d9;
    font-weight: 600;  
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    width: 600px;
    line-height: 0%;
}

#banner-text h2{
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    color: #141414;
    margin-bottom: 88px;
}

#banner-text p{
    color: #dad9d9;
    font-weight: 300;
    font-family: "Quicksand", sans-serif;
}

#banner-text a{
    background: #141414;
    border: 3px solid #7630cc;
    color: #dad9d9;
    border-radius: 50px;
    font-weight: 500;
}

#banner-text a:hover{
    background: #7630cc;
    border: 3px solid #7630cc;
    transition: 300ms;
    cursor: pointer;
}

#banner-img {
    overflow: hidden;
}

#banner-img img{
    width: 107%;
    filter: brightness(0.6);
}

#rect-color {
    display: flex;
    align-items: center;
}

#rect-color .color{
    background: #7630cc;
    width: 30px;
    height: 35px;
    margin-left: 10px;
    border-radius: 50px;
}

#rect-color .color:hover{
    background: #1E90FF;
    transition: 300ms;
}

#rect-color #c2, #rect-color #c7, #rect-color #c12, #rect-color #c13, #rect-color #c16{
    height: 60px;
}

#rect-color #c3, #rect-color #c6, #rect-color #c8, #rect-color #c11, #rect-color #c14{
    height: 80px;
}

#rect-color #c4, #rect-color #c5, #rect-color #c9, #rect-color #c10, #rect-color #c15{
    height: 100px;
  
}

#offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#offers h1 {
    color: #dad9d9;
    font-weight: 600;  
    font-family: "Inter", sans-serif;
    line-height: 0%;
}


#Products-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Products-banner i{
    color: #fff;
    font-size: 40pt;
}

.bi-arrow-left-circle:hover + .bi-arrow-left-circle-fill{
    display: block;
}

.bi-arrow-left-circle:hover{
    display: none;
}

.bi-arrow-right-circle:hover + .bi-arrow-right-circle-fill{
    display: block;
}

.bi-arrow-right-circle:hover{
    display: none;
}

.bi-arrow-left-circle-fill{
    display: none;
}

.bi-arrow-right-circle-fill{
    display: none;
}

#Products-banner .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2e2e2e;
    border-radius: 20%;
    border-bottom: 2px solid #8A2BE2;
}

.product-img{
    display: flex;
    justify-content: center;
    width: 100%;
}

.product-img img {
    position: relative;
    width: 50%;
}

.product-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    color: #dad9d9;
}

.product-text h2{
    margin-bottom: 0px;
    font-weight: 600;
}

.product-text p{
    margin-top: 10px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 8pt;
    width: 152px;
}

.product-button button{
    background: #8125c3;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 10pt;
    border: none;
    color: #dad9d9;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.product-button button:hover{
    background: #551981;
}

#Aboutus{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    background: #6909c3;
    padding-bottom: 10px;
}

#Aboutus-img img{
    width: 100%;
    border-radius: 50%;
}

#Aboutus-text{
    display: flex;
    flex-direction: column;
    color: #dad9d9;
    font-family: "Quicksand", sans-serif;
}

#Aboutus-text h1{
    font-weight: 700;
}

#Aboutus-text p{
    font-weight: 300;
}

#people{
    display: flex;
    align-items: center;
    background: #151515;
}

#people-text{
   color: #fff;
   width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: "Inter", sans-serif;
}

#people-text h1{
    font-weight: 800;  
    line-height: 110%;
}

#people-text ul {
    padding: 0;
}

#people-text ul li{
    font-weight: 300;
    list-style: none;  
}

#people-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#people-img img{
    width: 100%;
}

footer{
    padding: 8px 0px;
}

#rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-logo{
    display: flex;
    align-items: center;
}

#footer-logo .bi-headphones{
    margin: 0;
}

.logo-title {
    color: #fff;
}

#footer-icons i{
    color: aliceblue;
    cursor: pointer;
}

#footer-icons i:hover{
    color: #7630cc;
}

#rodape p{
    color: #d8d6d6;
    font-family: "Quicksand", sans-serif;
    width: 30%;
    text-align: center;
    font-size: 6pt;
    margin-left: 80px;
    opacity: 0.8;
}

/*////////////////////// SignUp ///////////////////////////////*/

.main-signup, .main-signin{
    background: #010207;
    padding-bottom: 0;
}

#signup, #signin{
    display: flex;
    justify-content: space-around;
    padding-bottom: 0;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width: 30%;
    height: 663px;
    color: #dad9d9;
    font-family: "Quicksand", sans-serif;
    margin: 0;
    margin-left: 140px;
}

.form-container h1{
    font-size: 32pt;
    font-weight: 900;
    margin: 0;
    margin-left: -20px;
}

.form-container p{
    font-size: 11pt;
}

.form-container p a{
    text-decoration: none;
}

.form-container p a:hover{
    color: #8125c3;
}

.form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-container form label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding: 12px 20px;
    background: #151515;
    border-radius: 15px;
    margin: 0;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}


.form-container form label div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container form label i{
    color: #a6a6a6;
    font-size: 12pt;
}

.bi-eye-slash{
    cursor: pointer;
}

.bi-eye{
    display: none;
    cursor: pointer;
}

.form-container form label div p{
    font-size: 10pt;
    color: #5c5b5b;
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
}

.form-container form button{
    background: #8125c3;
    border: 3px solid #8125c3;
    padding: 13px 28px;
    border-radius: 30px;
    font-size: 10pt;
    color: #dad9d9;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}

.form-container form button:hover{
    background: #141414;
    transition: 200ms;
}

.form-container form input{
    background: none;
    border: none;
    color: #fff;
}

.form-container form div input:focus{
    outline: none
}

.form-content a {
    font-size: 7pt;
    color: red; 
    margin-left: 15px;
    position: absolute;
    margin-top: 69px;
}

/* Remove ícone de olho padrão nos navegadores */
.password-input::-ms-reveal,
.password-input::-ms-clear {
    display: none; /* Remove ícones de senha no IE */
}

.password-input::-webkit-credentials-auto-fill-button {
    visibility: hidden; /* Remove ícones de senha no Chrome */
}

.password-input::-webkit-search-cancel-button,
.password-input::-webkit-search-decoration,
.password-input::-webkit-search-results-button,
.password-input::-webkit-search-results-decoration {
    display: none; /* Remove ícones de senha no Safari */
}

#photo {
    display: flex;
    width: 39%; 
    margin: 0;
}

#photo img{
    width: 100%;
}

/*////////////////////// SignIn ///////////////////////////////*/


.main-signin #photo {
    display: flex;
    width: 39%;
    height: 20%;
    margin-top: 40px;
}

.main-signin #photo img{
    width: 100%;
    filter: brightness(0.7);
}
