footer{
    padding: 8px 0px;
}

#rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-logo{
    display: flex;
    align-items: center;
}

#footer-logo .bi-headphones{
    margin: 0;
}

.logo-title {
    color: #fff;
}

#footer-icons i{
    color: aliceblue;
    cursor: pointer;
}

#footer-icons i:hover{
    color: #7630cc;
}

#rodape p{
    color: #d8d6d6;
    font-family: "Quicksand", sans-serif;
    width: 30%;
    text-align: center;
    font-size: 6pt;
    margin-left: 80px;
    opacity: 0.8;
}

@media (min-width: 769px) {
    #footer-logo{
        padding: 1px 15px;
        margin-left: 20px;
    }
    
    #footer-logo .bi-headphones{
        font-size: 10pt;
    }
    
    .logo-title {
        font-size: 8pt;
        margin-right: 7px;
    }

    #footer-icons {
        margin-right: 70px;
    }
    
    #footer-icons i{
        margin-left: 20px;
        font-size: 15pt;
    }
}

@media (max-width: 769px) {
    #footer-logo{
        padding: 1px 15px;
    }
    
    #footer-logo .bi-headphones{
        font-size: 8pt;
    }
    
    .logo-title {
        font-size: 8pt;
        margin-right: 7px;
    }

    #footer-icons {
        margin-right: 20px;
    }
    
    #footer-icons i{
        margin-left: 2px;
        font-size: 8pt;
    }

    #rodape p {
        display: none;
    }
}