header {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.menu{ 
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.menu ul li {
    display: inline;
}

.menu ul li a{
    color: #edecec;
    font-weight: 400;
    font-size: 12pt;
    padding: 9px 18px;
    transition: 100ms;
    text-decoration: none;
}

.menu ul li a:hover{
    background: #7630cc;
    border-radius: 20px;
    cursor: pointer;
}

.MyAccount{
    margin: auto;
}

#MyAccount {
    border-radius: 50px;
    background: #55198100;
    border: 3px solid #8125c3;
    color: #fff;
    transition: 100ms;
    margin: 10px;
    text-decoration: none;  
}

#MyAccount:hover{
    background: #8125c3;
    color: #fff;
    transition: 300ms;
}

#user-info {
    display: none;
    margin: 1px 15px;
}

#user-info i{
    font-size: 22pt;
    position: relative;
    top: 5px;
    color:#fff;
    cursor: pointer;
}

#user-info i:hover {
    color:#7630cc;
}

#cart {
    width: 50px;
    color: #fff;
}

#cart a i {
    font-size: 22pt;
    color:#fff;
    position: relative;
    top: 5px;
    cursor: pointer;
}

#cart a i:hover{
    color:#7630cc;
}

#display {
    display: none;
    position: absolute;
    top: 60px;
    right: 110px;
    margin-top: 20px;
    border: 1px solid #551981;
    border-top: none;
    height: 63px;
    z-index: 1;
}

#display p {
    padding: 8px 20px;
    color: #fff;
    margin: 0;
    margin-bottom: 10px;
}

#display p:hover {
    background: #551981;
    transition: 300ms;
    color: #fff;
}

#display i {
    margin-left: 35px;
    font-size: 16pt;
    color: #fff;
}

#display i:hover {
    color: #a02d2d;
}

@media (min-width: 769px) {

    header{
        height: 10vh;
        padding-right: 80px;
    }

    .bi-headphones{
        width: 33px;
        margin-left: 33px;
    }

    #MyAccount{
        padding: 12px 22px;
    }
}


@media (max-width: 769px) {

    header{
        height: 8vh;
        justify-content: center;
        padding-right: 0px;
    }

    .bi-headphones{
        width: 33px;
        margin-left: 20px;
    }

    .menu {
        padding-right: 20px;
    }

    #Home, #Products, #AboutUs, #Contact{
        display: none;
    }

    #MyAccount{
        padding: 6px 12px;
    }
}